@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+DE+Grund:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fdf0d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.title{
   margin-top: 20px;
    font-family: "Playwrite AU QLD", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1{
    margin-bottom: 50px;
}
.title span{
    color: #f20044;
}
.heart{
    height: 40px;
    width: 40px;
    background: #f20044;
    position: relative;
    left: 30px;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px  #f20044;
    animation: heart 0.6s linear infinite;
}
@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}
.heart::before{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px 10px 90px  #f20044;
}
.heart::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: -10px 10px 90px  #f20044;
}
.container{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff686b;
    border-radius: 10px;
    padding: 20px 20px;
    width: 23rem;
   
}
.inputarea{
 display: grid;
 justify-content: center;
    align-items: center;
}
.inputarea input{
    display: grid;
    outline: none;
    border: 2px solid #ff686b;
    padding: 10px 10px;
    border-radius: 5px;
}
.inputarea p{
    text-align: center;
    padding: 10px 10px;
    font-size: 20px;
}
.hitung{
    text-align: center;
    margin-top: 30px;
    color: white;
    background-color: #ff686b;
    padding: 10px 10px;
    border-radius: 5px;
}
.hitung:hover{
     background-color: white;
    color: #ff686b;
    box-shadow:0 0 25px #ff686b;
    border: 1px solid #ff686b;
    transition: 0.8s;
}
.progress {
    position: relative; 
    width: 23rem; 
    height: 30px;
    border-radius: 10px;
    background-color: #ddd;
    margin-top: 30px;
    margin-bottom: 30px;
}

.progress-done {
    font-family: sans-serif;
    font-weight: bolder;
    color: #fff;
    height: 100%;
    background: #ff686b;
    border-radius: 10px;
    display: grid;
    place-items: center;
    width: 0%; 
    box-shadow:  0 0 25px #f20044;
    transition: width 1s ease;
   
}
.result {
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
    font-weight: bold;
    width: 23rem;
    background-color: #ff686b;
    color: white;
}
#print{
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Playwrite DE Grund", cursive;
}
#statement{
    font-family: "Indie Flower", cursive;
}
.cr{
    opacity: 0.8;
    margin-top: 20px    ;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 90%; 
    }
    .result {
        width: 90%; 
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 95%; 
    }
    .result {
        width: 95%;
    }
}
